<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Recipe</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="css/recipe.css">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<div id="app">
    <app-nav></app-nav>
    <h2>All Recipes</h2>
    <div class="recipeContent">
        <div class="dropdown d-flex justify-content-end">
            <button class="btn dropdown-toggle border border-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ selectedOption}}
            </button>
            <ul id="sort" class="dropdown-menu">
                <li v-for="(option, index) in options" :key="index">
                    <div class="dropdown-item" @click="selectOption(option)">{{ option.label }}</div>
                </li>
            </ul>
        </div>

        <div class="results">
            <div class="filter">
                <button type="button" class="collapsible active">Dish Type <span>-</span></button>
                <div class="content" style="opacity: 1; height: auto;">
                    <input type="checkbox" id="side_dish" name="side dish" value="side dish">
                    <label for="side_dish">side dish</label><br>
                    <input type="checkbox" id="starter" name="starter" value="starter">
                    <label for="starter">starter</label><br>
                    <input type="checkbox" id="snack" name="snack" value="snack">
                    <label for="snack">snack</label><br>
                    <input type="checkbox" id="appetizer" name="appetizer" value="appetizer">
                    <label for="appetizer">appetizer</label><br>
                    <input type="checkbox" id="beverage" name="beverage" value="beverage">
                    <label for="beverage">beverage</label><br>
                </div>

                <button type="button" class="collapsible">Diet <span>+</span></button>
                <div class="content">
                    <input type="checkbox" id="gluten_free" name="gluten free" value="gluten free">
                    <label for="gluten_free">gluten free</label><br>
                    <input type="checkbox" id="dairy_free" name="dairy free" value="dairy free">
                    <label for="dairy_free">dairy free</label><br>
                    <input type="checkbox" id="vegan" name="vegan" value="vegan">
                    <label for="vegan">vegan</label><br>
                    <input type="checkbox" id="lacto_ovo_vegetarian" name="lacto ovo vegetarian" value="lacto ovo vegetarian">
                    <label for="lacto_ovo_vegetarian">lacto ovo vegetarian</label><br>
                    <input type="checkbox" id="ketogenic" name="ketogenic" value="ketogenic">
                    <label for="ketogenic">ketogenic</label><br>
                </div>

                <button type="button" class="collapsible">Cuisine <span>+</span></button>
                <div class="content">
                    <input type="checkbox" id="Korean" name="Korean" value="Korean">
                    <label for="Korean">Korean</label><br>
                    <input type="checkbox" id="Chinese" name="Chinese" value="Chinese">
                    <label for="Chinese">Chinese</label><br>
                    <input type="checkbox" id="Indian" name="Indian" value="Indian">
                    <label for="Indian">Indian</label><br>
                    <input type="checkbox" id="Vietnamese" name="Vietnamese" value="Vietnamese">
                    <label for="Vietnamese">Vietnamese</label><br>
                    <input type="checkbox" id="Japanese" name="Japanese" value="Japanese">
                    <label for="Japanese">Japanese</label><br>
                    <input type="checkbox" id="Italian" name="Italian" value="Italian">
                    <label for="Italian">Italian</label><br>
                </div>
            </div>
            <div class="container-listing-wrap">
                <recipe-listing :recipe="indexes"></recipe-listing>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

<script src="component/navbar.js"></script>
<script src="component/listing.js"></script>
<script src="component/footer.js"></script>

<script>
const app = Vue.createApp({
    data() {
        return {
            indexes: createIndex(),
            selectedOption: 'Sort by',
            options: [
                { label: 'Servings', value: 'servings' },
                { label: 'Calories', value: 'calories' },
                { label: 'Ready In Minutes', value: 'readyInMinutes' },
                { label: 'Price Per Serving', value: 'pricePerServing' },
                { label: 'Health Score', value: 'healthScore' }
            ]
        };
    },
    methods: {
        selectOption(option) {
            this.selectedOption = option.label;
        }
    }
});

app.component('app-nav', navbar);
app.component('app-footer', footer);
app.component('recipe-listing', {
    data() {
        return {
            pageNumber: 1
        }
    },
    props: {
        recipe: {
            type: Array,
            required: true
        },
        size: {
            type: Number,
            required: false,
            default: 12
        }
    },
    methods:{
        nextPage() {
           this.pageNumber++;
        },
        prevPage() {
          this.pageNumber--;
        }
    },
    computed: {
        pageCount() {
            let l = this.recipe.length;
            let s = this.size;
            return Math.ceil(l/s);
        },
        recipeData() {
            const start = this.pageNumber * this.size - this.size;
            const end = start + this.size;
            return this.recipe.slice(start, end);
        }
    },
    template: listing.template + `
        <div class="m-4 d-flex align-items-center">
            <p class="m-1">Total {{ pageCount }} pages</p>
            <button type="button" class="btn btn-sm m-1" v-if="pageNumber > 1" @click="prevPage"> &lt; </button>
            <button type="button" class="btn btn-sm m-1 text-secondary border-0" v-else disabled> &lt; </button>
            <button type="button" class="btn btn-sm m-1 rounded-circle" :class="{ 'btn-dark': pageNumber === page }" v-for="page in pageCount" @click="pageNumber = page"> {{ page }}
            </button>
            <button type="button" class="btn btn-sm m-1" v-if="pageNumber < pageCount" @click="nextPage"> &gt; </button>
            <button type="button" class="btn btn-sm m-1 text-secondary border-0" v-else disabled> &gt; </button>
        </div>
    `
});

function createIndex(){
    let index = [];
    for(let i = 1; i < 100; i++){
        index.push({ind:'#' + i});
    }
    return index;
}

app.mount('#app');

</script>

<script>
    var collapsible = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < collapsible.length; i++) {
        collapsible[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.opacity === "1") {
                content.style.opacity = "0";
                content.style.height = "0";
                this.getElementsByTagName("span")[0].innerText = "+";
            } else {
                content.style.opacity = "1";
                content.style.height = "auto";
                this.getElementsByTagName("span")[0].innerText = "-";
            }
        });
    }
</script>
</body>

</html>