<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="icon" href="./img/nomstersicon.png" type="image/x-icon">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/editprofile.css">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<script>
    const token = sessionStorage.getItem('token');
    const userId = sessionStorage.getItem('userId');

    if (!token || !userId) {
        // If 'token' or 'userId' doesn't exist, redirect to 'index.html'
        window.location.href = './index.html';
    } 
</script>

<body>
    <div id="app">
        <div :class="{onScroll: isScrolled}">
            <app-nav :allrecipes="allrecipes" @search="searchRecipes"></app-nav>
                <div class="edit-profile-wrapper">
                <h2 class="text-center pb-5">
                    Edit Profile
                </h2>
                <form>
                    <div class="container rounded bg-white mb-5">
                        <div class="row justify-content-center">
                            <div class="col-md-3 border-right">
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                    <img id="frame" :src="image" class="img-fluid mx-auto">
                                </div>
                                <div class="mb-2 text-center">
                                    <label for="form-control" class="form-label chooseprofilepic"
                                        style="color:black; text-align: start !important;">Edit Profile Picture</label>
                                    <input class="form-control" type="file" id="formFile" onchange="preview()"
                                        placeholder="upload profile pic">
                                    <button onclick="clearImage()" class="btn btn-secondary mt-3 clear shadow-sm">
                                        Clear Image
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-5 border-right">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Profile Settings</h4>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <label class="labels">Display Name</label>
                                            <input type="text" class="form-control" :value=name id="exampleInputUsername1">
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <label class="labels">Change Password</label>
                                            <input type="password" class="form-control" placeholder="Enter new password" id="exampleInputPassword1">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <label class="labels">Confirm Password</label>
                                            <input type="password" class="form-control" placeholder="Confirm Password" id="exampleInputPassword2">
                                        </div>
                                    </div>
                                    <!-- <br>
                                    <br>
                                    <br> -->
                                    
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center experience">
                                        <h4>Edit Diet</h4>
                                    </div><br>
                                    <div v-for="diet in diets" class="form-check">
                                        <input v-model="diet.checked" class="form-check-input" type="checkbox" v-bind:value="diet.value" id="">
                                        <label class="form-check-label" for="">
                                        {{diet.value}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="mt-5 text-center">
                                <button class="btn btn-danger shadow-sm" style='font-weight:lighter' type="submit" onclick=" updateUser(event)">
                                    Save Profile
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
                <div id="BackToTop" @click="scrollToTop">
                    <div class="btt-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 49 30" fill="none">
                        <path d="M0.819336 24.1799L6.45934 29.8199L24.8193 11.4999L43.1793 29.8199L48.8193 24.1799L24.8193 0.179947L0.819336 24.1799Z" fill="white"/>
                    </svg>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>

    <!-- script for image preview -->
    <script>
        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
        }
        function clearImage() {
            document.getElementById('formFile').value = null;
            frame.src = "";
        }
    </script>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <script src="component/navbar.js"></script>
    <script src="component/listing.js"></script>
    <script src="component/footer.js"></script>

    <script>
        const headers = {
            Authorization: `BEARER ${token}`
        }

        const app = Vue.createApp({
            components: {
                'app-footer': footer
            },
            data() {
                return {
                    indexes: createIndex(),
                    allrecipes: [],
                    name: '',
                    image: '/img/icon/food.png',
                    diets: [],
                    isScrolled: false
                };
            },
            mounted() {
                console.log(token)
                axios.get('https://leaptron2.dscloud.me:3000/api/user/' + userId, {
                    headers: headers
                })
                .then(response => {
                    console.log(response.data)
                    this.name = response.data.username
                })
                .catch(error => {
                    this.isError = true;
                });

                axios.get('https://leaptron2.dscloud.me:3000/api/user/' + userId, {
                    headers: headers
                })
                .then(response => {
                    var dataArray = response.data.image.data
                    if (dataArray.length > 0) {
                        console.log(dataArray)
                        var uint8Array = new Uint8Array(dataArray);
                        console.log(uint8Array)
                        var binaryString = String.fromCharCode.apply(null, uint8Array);
                        this.image = binaryString
                    }
                })
                .catch(error => {
                    this.isError = true;
                });

                axios.get('https://leaptron2.dscloud.me:3000/api/user/' + userId, {
                    headers: headers
                })
                .then(response => {

                })
                .catch(error => {
                    this.isError = true;
                });

                axios.get('https://leaptron2.dscloud.me:3000/api/diet', {
                    headers:headers
                })
                .then(response => {
                    this.diets = response.data.map(item => ({
                        id: item.name.replace(/\s+/g, '_').toLowerCase(),
                        value: item.name,
                        checked: false
                    }))

                    axios.get(`https://leaptron2.dscloud.me:3000/api/user/${userId}`, {
                        headers:headers,
                    })
                    .then(response => {
                        response.data.diets.forEach(diet => {
                            const option = this.diets.find(option => option.value === diet);
                            if (option) {
                                option.checked = true;
                            }
                        });
                    })
                    .catch( error => {

                    })
                })
                .catch( error => {
                    this.errorMessage = error.response.data.message;
                    if (this.errorMessage === "Invalid token") window.location.href = './index.html';
                });

                this.fetchAllRecipes();
                window.addEventListener('scroll', this.handleScroll);
            },
            methods: {
                handleScroll() {
                    let scrollAmount = window.scrollY;
                    let amountScrolled = 20;
              
                    if (scrollAmount > amountScrolled) {
                      this.isScrolled = true;
                    } else {
                      this.isScrolled = false;
                    }
                  },
                scrollToTop() {
                    window.scrollTo({ top: 0, left: 0, behavior: 'smooth' });
                },
                searchRecipes(titleQuery) {
                    window.location.href = `allRecipe.html?search=${titleQuery}`;
                },
                fetchAllRecipes() {
                    axios.get('https://leaptron2.dscloud.me:3000/api/recipe', {
                        headers: headers
                    }).then(response => {
                        console.log(response.data)
                        this.allrecipes = response.data
                        console.log(this.allrecipes)
                    }).catch(error => {
                        console.log(error.response.data.message);
                        this.errorMessage = error.response.data.message;
                        this.allrecipes = [];
                        this.isError = true;
                    });
                },
            }
        });

        app.component('app-nav', {
            data() {
                return {
                    showIsActive: false,
                    random: [],
                    profileImage:"img/icon/profile.png",
                    active: "profile"
                }
            },
            props: {
                allrecipes: {
                    type: Array,
                    required: true
                },
                size: {
                    type: Number,
                    required: false,
                    default: 12
                }
            },
            methods: {
                ...navbar.methods,
                showHideModal() {
                    this.showIsActive = !this.showIsActive;
                    this.generateRandomRecipe();
                },
                generateRandomRecipe() {
                    if (this.allrecipes.length > 0) {
                        const length = this.allrecipes.length;
                        const r = this.allrecipes[Math.floor(Math.random() * length)];

                        console.log(this.random);
                        this.random = r;
                    }
                },
                closeModal() {
                    this.showIsActive = !this.showIsActive;
                },
            },
            template: navbar.template + `
                <div class="random-recipe" :class="{active: showIsActive}">
                    <div class="overlay" @click="closeModal"></div>
                    <div class="modal-box">
                        <h3>Random Recipe Generator</h3>
                        ${listing.single}
                        <div class="buttons">
                            <button class="btn decide-btn generate" @click="generateRandomRecipe">Regenerate</button>
                            <button class="btn decide-btn generate"><a :href="'recipeDetail.html?id=' + random.recipeId">Go to Recipe</a></button>
                        </div>
                    </div>
                </div>
            `,
            mounted() {
                axios.get(`https://leaptron2.dscloud.me:3000/api/user/${userId}`, {
                    headers:headers,
                })
                .then(response => {
                    console.log(response.data)
                    var image = response.data.image.data
                    if (image.length > 0) {
                        var uint8Array = new Uint8Array(image);
                        var binaryString = String.fromCharCode.apply(null, uint8Array);
                        this.profileImage = binaryString
                    } 
                })
            }
        });

        app.mount('#app');

        function createIndex() {
            let index = [];
            for (let i = 1; i < 4; i++) {
                index.push({ ind: '#' + i });
            }
            return index;
        }
    </script>

    <script>
        function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
        }

        function clearImage() {
            document.getElementById('formFile').value = null;
            frame.src = "";
        }

        function updateUser(event) {
            event.preventDefault();
            let username = document.getElementById('exampleInputUsername1').value;
            let password = document.getElementById('exampleInputPassword1').value;
            let confirmPassword = document.getElementById('exampleInputPassword2').value;
            if (password !== confirmPassword) {
                alert("Passwords do not match.");
                return;
            }
            if (username == '') {
                alert("Please enter a username.");
                return;
            }
            axios.get('https://leaptron2.dscloud.me:3000/api/user/' + userId, {
                headers: headers
            }).then(response => {
                var dataArray = response.data.image.data
                if (dataArray.length > 0) {
                    const image = dataArray
                }
            }).catch(error => {
                this.isError = true;
            });
            var file = document.getElementById('formFile').files[0];

            if (file) {
                readAndUploadFile(file)
                    .then((fileData) => {
                        const headers = {
                            Authorization: `Bearer ${token}`,
                        };
                        axios.put(`https://leaptron2.dscloud.me:3000/api/user/${userId}`, {
                            "username": document.getElementById('exampleInputUsername1').value,
                            "password": document.getElementById('exampleInputPassword1').value,
                            "image": fileData
                        }, {
                            headers: headers
                        })
                            .then(response => {
                                window.location.href = './profile.html';
                            })
                            .catch(error => {
                                alert("Image is too large")
                                // Handle errors here
                            });
                    })
                    .catch((error) => {
                        // Handle file reading error
                        console.error(error);
                    });
            } else {
                const headers = {
                    Authorization: `Bearer ${token}`,
                };

                // Use axios.put to send the request
                
                axios.get('https://leaptron2.dscloud.me:3000/api/user/' + userId, {
                    headers: headers
                })
                .then(response => {
                    var dataArray = response.data.image.data;
                    console.log(dataArray);
                    if (dataArray.length > 0) {
                        const currentImage = dataArray;}
                        var uint8Array = new Uint8Array(dataArray);
                        console.log(uint8Array)
                        var binaryString = String.fromCharCode.apply(null, uint8Array);
                        
                        axios.put(`https://leaptron2.dscloud.me:3000/api/user/${userId}`, {
                            "username": username,
                            "password": password,
                            "image": binaryString // Set the current image data
                        }, {
                            headers: headers
                        })
                        .then(response => {
                            const checkedDiets = [];
                            const checkboxes = document.getElementsByClassName("form-check-input");

                            for (let i = 0; i < checkboxes.length; i++) {
                                if (checkboxes[i].checked) {
                                    checkedDiets.push(checkboxes[i].value);
                                }
                            }

                            const checkedDietsString = checkedDiets.join(", ");
                            axios.post(`https://leaptron2.dscloud.me:3000/api/user/${userId}/diet`, {
                                "diets": checkedDietsString
                            }, {
                                headers: headers
                            })
                            .then(response => {
                                window.location.href = './profile.html';
                            })
                            .catch(error => {
                                // Handle errors here
                            });
                        })
                        .catch(error => {
                            // Handle errors here
                        });
                    
                })
                .catch(error => {
                    // Handle errors here
                });
            }
        }

        function readAndUploadFile(file) {
            return new Promise((resolve, reject) => {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const fileData = e.target.result; // This contains the file data
                    console.log("File data:", fileData);
                    resolve(fileData);
                };

                reader.onerror = function (error) {
                    reject(error);
                };

                reader.readAsDataURL(file);
            });
        }
    </script>
</body>
</html>