<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/mealprep.css">


  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <script>
    const token = sessionStorage.getItem('token');
    const userId = sessionStorage.getItem('userId');
      
    if (!token || !userId) {
        // If 'token' or 'userId' doesn't exist, redirect to 'index.html'
        window.location.href = './index.html';
    }
</script>
    
  <div id="app">
    <app-nav :allrecipes="allrecipes" @search="searchRecipes"></app-nav>

    <div class="banner bg-light"> 
        <h2 class="text-center p-4">Meal Prep Generator</h2>
    </div>
    <form @submit.prevent="submitForm">

    <div class="container col-8">
        <!-- numeric -->
    <div class="row p-5">
        <div class="form-outline col-6 mt-2">
            <label class="form-label" for="typeNumber">Number of Meals per Day</label>
            <input type="number" v-model="form.mealsPerDay" class="form-control" placeholder="2" min="2" max="5" required />
            <small class="form-text text-muted">Please enter a number between 2 and 5.</small>
        </div>
        <div class="form-outline col-6 mt-2">
            <label class="form-label" for="typeNumber">Number of Snacks per Day</label>
            <input type="number" v-model="form.snacksPerDay" class="form-control" placeholder="max 2" max="2" />
            <small class="form-text text-muted">Please enter a maximum value of 2.</small>
        </div>
        <div class="form-outline col-6 mt-2">
            <label class="form-label" for="typeNumber">~Calorie Goal per Day</label>
            <input type="number" v-model="form.calorieGoal" class="form-control" placeholder="2000" min="1000" max="3500" />
            <small class="form-text text-muted">Please enter a number between 1000 and 3500.</small>
        </div>
        <div class="form-outline col-12 mt-2">
            <label class="form-label" for="typeNumber">Budget per Day ($)</label>
            <input type="number" v-model="form.budget" class="form-control" placeholder="eg. 10" min="10" />
            <small class="form-text text-muted">Please set a budget of at least $10.</small>
        </div>
    </div>
      
      <div class="text-center">
        <button type="submit" class="btn btn-danger" style="font-weight:lighter">Generate Plan</button>
      </div> 

    </div>
  </form>

    <br>

    <div class="banner bg-light"> 
        <h2 class="text-center p-4">Generated Meal Plan</h2>
    </div>
      <div class="row">
        <recipe-listing :recipe="indexes" :key="formSubmitted" v-if="formSubmitted > 0 " :form-data="form"></recipe-listing>
      </div>


    <div class="banner bg-light"> 
        <h2 class="text-center p-4">Consolidated Stats:</h2>
    </div>
    
    <div class="container col-4 p-4">
        <div class="card">
            <div class="card-header">
              Total Calories (per day) - {{consolidated_calories}}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Fat - {{consolidated_fat}} </li>
              <li class="list-group-item">Protein - {{consolidated_protein}}</li>
              <li class="list-group-item">Cost per day - ${{consolidated_price}}</li>
            </ul>
          </div>

    </div>
    
    
      
    <app-footer></app-footer>
    
  </div>


  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

  <script src="component/navbar.js"></script>
  <script src="component/listing.js"></script>
  <script src="component/footer.js"></script>

  <script>
    const headers = {
       Authorization: `BEARER ${token}`
     }
 
     const app = Vue.createApp({
       components: {
       },
       data() {
         return {
           indexes: createIndex(),
           allrecipes: [],
           form: {
        mealsPerDay: 3,
        snacksPerDay: 1,
        calorieGoal: 2000,
        budget: 10,
      },
      formSubmitted: 0,
      consolidated_calories: 0,
      consolidated_fat: 0,
      consolidated_protein: 0,
      consolidated_price: 0,
         };
       },
       mounted() {
         
         axios.get('https://leaptron2.dscloud.me:3000/api/user/' + userId , {
           headers: headers
         }).then(response => {
        
         }).catch(error => {
           this.isError = true;
         });
         this.fetchAllRecipes();
       },
       methods: {
         searchRecipes(titleQuery){
             window.location.href = `allRecipe.html?search=${titleQuery}`;
         },
         fetchAllRecipes(){
             axios.get('https://leaptron2.dscloud.me:3000/api/recipe', {
                 headers:headers
             }).then(response => {
                 console.log(response.data)
                 this.allrecipes = response.data

                 this.allrecipes.forEach((recipe) => {
                    recipe.fav = 0; 
                  });
                
                  axios.get(`https://leaptron2.dscloud.me:3000/api/user/${userId}/recipe`, {
                              headers:headers,
                          }).then(response => {
                              response.data.forEach(favRecipe => {
                                  const favedRecipe = this.allrecipes.find(recipe => recipe.recipeId === favRecipe.recipeId);
                                      if (favedRecipe) {
                                          favedRecipe.fav = 1;
                                      }
                                  });
                              console.log(this.allrecipes)
                              
                          }).catch( error => {

                          });
                 console.log(this.allrecipes)
             }).catch( error => {
                 console.log(error.response.data.message);
                 this.errorMessage = error.response.data.message;
                 this.allrecipes = [];
                 this.isError = true;
             });
         },
         submitForm(){
              this.formSubmitted++;
         }
       }
     });
     
     app.component('app-nav', {
       data() {
           return {
               showIsActive: false,
               random: [],
               profileImage:"img/icon/profile.png",
               active: "mealprep"
           }
       },
       props: {
           allrecipes: {
               type: Array,
               required: true
           },
           size: {
               type: Number,
               required: false,
               default: 12
           }
       },
       methods: {
        ...navbar.methods,
           showHideModal() {
               this.showIsActive = !this.showIsActive;
               this.generateRandomRecipe();
           },
           generateRandomRecipe() {
               if (this.allrecipes.length > 0) {
                   const length = this.allrecipes.length;
                   const r = this.allrecipes[Math.floor(Math.random() * length)];
       
                   console.log(this.random);
                   this.random = r;
               }
           },
           closeModal() {
               this.showIsActive = !this.showIsActive;
           },
       },
       template: navbar.template + `
           <div class="random-recipe" :class="{active: showIsActive}">
               <div class="overlay" @click="closeModal"></div>
               <div class="modal-box">
                   <h3>Random Recipe Generator</h3>
                   ${listing.single}
                   <div class="buttons">
                       <button class="btn decide-btn generate" @click="generateRandomRecipe">Regenerate</button>
                       <button class="btn decide-btn generate"><a :href="'recipeDetail.html?id=' + random.recipeId">Go to Recipe</a></button>
                   </div>
               </div>
           </div>
         `,
         mounted(){
          axios.get(`https://leaptron2.dscloud.me:3000/api/user/${userId}`, {
            headers:headers,})
            .then(response => {
              console.log(response.data)
              var image = response.data.image.data
              if(image.length>0){
          var uint8Array = new Uint8Array(image);
          var binaryString = String.fromCharCode.apply(null, uint8Array);
          this.profileImage = binaryString
              } 
              })}
       });
 
     app.component('app-footer',footer);
      app.mount('#app');
       app.component('recipe-listing', {
       props: {
         recipe: {
           type: Array,
           required: true
         },
         formData:{
          type:Object,
          required:true
         }
       },
       data(){
         return{
           localrecipe:[],
         }
       },
       computed:{
         recipeData() {
           return this.localrecipe;
         }
       },
       methods: listing.methods,
       template: `
    <a :href="'recipeDetail.html?id=' + r.recipeId" class="col-4" v-for="r in recipeData">
        <div class="card">
            <div class="recipe-img card-img-top" :style="{ backgroundImage: 'url(' + (r.image ? r.image : r.image2) + ')' }">

            <img :src="r.image" class="card-img-top" alt="Recipe Image">
            <!-- favourited -->
                        <svg v-if="r.fav == 1" @click.prevent="changeColor(r)" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <g clip-path="url(#clip0_278_1363)">
                            <path d="M16.0003 28.4667L14.067 26.7067C7.20033 20.48 2.66699 16.3733 2.66699 11.3333C2.66699 7.22667 5.89366 4 10.0003 4C12.3203 4 14.547 5.08 16.0003 6.78667C17.4537 5.08 19.6803 4 22.0003 4C26.107 4 29.3337 7.22667 29.3337 11.3333C29.3337 16.3733 24.8003 20.48 17.9337 26.72L16.0003 28.4667Z" fill="#DE352A"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_278_1363">
                            <rect width="32" height="32" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>

                        <!-- not favourited -->
                        <svg v-else @click.prevent="changeColor(r)" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <g clip-path="url(#clip0_278_1357)">
                                <path d="M22.0003 4C19.6803 4 17.4537 5.08 16.0003 6.78667C14.547 5.08 12.3203 4 10.0003 4C5.89366 4 2.66699 7.22667 2.66699 11.3333C2.66699 16.3733 7.20033 20.48 14.067 26.72L16.0003 28.4667L17.9337 26.7067C24.8003 20.48 29.3337 16.3733 29.3337 11.3333C29.3337 7.22667 26.107 4 22.0003 4ZM16.1337 24.7333L16.0003 24.8667L15.867 24.7333C9.52033 18.9867 5.33366 15.1867 5.33366 11.3333C5.33366 8.66667 7.33366 6.66667 10.0003 6.66667C12.0537 6.66667 14.0537 7.98667 14.7603 9.81333H17.2537C17.947 7.98667 19.947 6.66667 22.0003 6.66667C24.667 6.66667 26.667 8.66667 26.667 11.3333C26.667 15.1867 22.4803 18.9867 16.1337 24.7333Z" fill="#DE352A"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_278_1357">
                                <rect width="32" height="32" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ r.title }}</h5>
                <p class="card-text p-2">{{r.summary}} </p>
                <p class="card-text">Nutritional Info:</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Calorie Count: {{r.calories_per_serving}}</li>
                    <li class="list-group-item">Fat: {{r.fatPerServing}}g</li>
                    <li class="list-group-item">Protein: {{r.protein_per_serving}}</li>
                    <li class="list-group-item">Price per serving: {{r.pricePerServing_dollar}} Dollars</li>
                </ul>
            </div>
        </div>
    </a>
`,  

     created() {
      console.log('Form Data:', this.formData);
      var mealsPerDay = this.formData.mealsPerDay;
      var snacksPerDay = this.formData.snacksPerDay;
      var calorieGoal = this.formData.calorieGoal;
      var budget = this.formData.budget;
      console.log('Meals Per Day:', mealsPerDay);
      console.log('Snacks Per Day:', snacksPerDay);
      console.log('Calorie Goal:', calorieGoal);
      console.log('Budget:', budget);

     // This code is executed when the component is created.
     
     // Example Axios GET request
     const token = sessionStorage.getItem('token');
     const userId = sessionStorage.getItem('userId');
     var count=0
       
     // to add in session logic
     const headers = {
       Authorization: `Bearer ${token}`
     };
     //to add in logic to get user diet
     axios.get(`https://leaptron2.dscloud.me:3000/api/mealprep?calorie_limit=${calorieGoal}&num_meals=${mealsPerDay}&num_snacks=${snacksPerDay}&num_days=1&budget_day=${budget}`,{
       headers: headers
     })
       .then(response => {
         console.log(response.data)
         var consolidated_calories=0
         var consolidated_fat=0
          var consolidated_protein=0
          var consolidated_price=0
        for (let i = 0; i < response.data.length; i++) {
          consolidated_calories += response.data[i].calories_per_serving;
          consolidated_fat += response.data[i].fatPerServing;
          consolidated_protein += response.data[i].protein_per_serving;
          consolidated_price += response.data[i].pricePerServing_dollar;}
         consolidated_calories=Math.round(consolidated_calories)
          consolidated_fat=Math.round(consolidated_fat)
          consolidated_protein=Math.round(consolidated_protein)
          consolidated_price=Math.round(consolidated_price)
         this.$root.consolidated_calories = consolidated_calories;
          this.$root.consolidated_fat = consolidated_fat;
          this.$root.consolidated_protein = consolidated_protein;
          this.$root.consolidated_price = consolidated_price;
         

         function cleanSummary(summary) {
          const cleanedSummary = summary.replace(/<\/?[^>]+(>|$)/g, '').split('.')[0];
          return `${cleanedSummary}.`;
      }
         // Assuming the response contains recipe data
         this.localrecipe = response.data.map(recipe => {
        recipe.summary = cleanSummary(recipe.summary); // Clean the summary
        return recipe;
        });
       })
       .catch(error => {
         console.error('Error:', error);
       }); 
   }
     });
   
     function createIndex() {
       let index = [];
       for (let i = 1; i < 4; i++) {
         index.push({ ind: '#' + i });
       }
       return index;
     }
     </script>
 
     <!-- script for image preview -->
     <script>
         function preview() {
             frame.src = URL.createObjectURL(event.target.files[0]);
         }
         function clearImage() {
             document.getElementById('formFile').value = null;
             frame.src = "";
         }
     </script>
     </script>
</body>

</html>