<!doctype html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
    crossorigin="anonymous">

    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/register.css">
    <script src="https://unpkg.com/vue@next"></script>


    <style>
         /* code for the wave */
        
        html, body { height: 100%; }
            body {
            overflow: hidden;
            background-image: url('img/login.png');
            background-size: cover;
            }

        .ocean { 
            background-color: white;
            height: 0%;
            width:100%;
            position:absolute;
            bottom:0;
            left:0;
        }

        .wave {
            background: url('img/waveRed.svg') repeat-x; 
            position: absolute;
            top: -150px;
            width: 6400px;
            height: 150px;
            animation: wave 24s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            transform: translate3d(0, 0, 0);
        
            /*animation: wave 40s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;*/
        }
            
        @keyframes wave {
            0% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(-50%);
            }
            100% {
                transform: translate(-100%);
            }
        }
            

        @keyframes swell {
            0%, 100% {
                transform: translate3d(0,-25px,0);
            }
            50% {
                transform: translate3d(0,5px,0);
            }
        }
            /* end of wave code */
    </style>

</head>

<div id="app">
<div class="container-fluid mt-5 mb-5">
    <div class="row">
            <!-- left column -->
            <div class="col-4">
                <div class="text-center">
                    <label for="form-control" class="form-label chooseprofilepic" style="color:black">Choose Profile Picture</label>
                    <img id="frame" src="" class="img-fluid" />
                    <input class="form-control fileinput" type="file" id="formFile" onchange="preview()">
                    <button onclick="clearImage()" class="btn btn-secondary mt-3 clear">Clear Image</button>
                    
                </div>
            </div>
    
            <!-- center column -->
            <div class="col-4">
                <div class="row">
                    <div class="form">
                        
                        <div class="logo-container">
                            <img src="img/logo.png" alt="logo" class="logo" />
                        </div>
    
                        <form>
                            
                            <div class="mb-3">
                            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                            </div>
    
                            <div class="mb-3">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
    
                            <div class="mb-3">
                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
                            </div>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-danger" style="font-weight:lighter; position: relative;z-index: 9999;" onclick="registerUser(event)">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    
            <div class="filler col-1"></div>
            <!-- right column -->
            <div class="col-2 rightcol">
                <div class="p-3 py-5 mt-5"><br><br>
                    <div class="d-flex justify-content-between align-items-center"><h4>Special Diet</h4></div><br>
                    
                        <div v-for="diet in diets" class="form-check">
                            <input v-model="diet.checked" class="form-check-input" type="checkbox" v-bind:value="diet.value" id="">
                            <label class="form-check-label" for="">
                              {{diet.value}}
                            </label>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <script>
    const app = Vue.createApp({
            data() {
                return {
                    diets: [],
                };
            },
            mounted() {
                this.fetchDiets();
            },
            methods: {
                fetchDiets(){
                    axios.get('https://leaptron2.dscloud.me:3000/api/diet').then(response => {
                        this.diets = response.data.map(item => ({
                            id: item.name.replace(/\s+/g, '_').toLowerCase(),
                            value: item.name,
                            checked: false
                        }))
                    }).catch( error => {

                    });
                }
            }
        });
        app.mount('#app');

    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
    }
    function registerUser(event) {
event.preventDefault();
let password = document.getElementById('exampleInputPassword1').value;
let confirmPassword = document.getElementById('exampleInputPassword2').value;
if (password !== confirmPassword) {
alert("Passwords do not match.");
return;
}

    var file = document.getElementById('formFile').files[0];

if (file) {
readAndUploadFile(file)
.then((fileData) => {
axios
.post('https://leaptron2.dscloud.me:3000/api/signup', {
"username": document.getElementById('exampleInputUsername1').value,
"password": document.getElementById('exampleInputPassword1').value,
"image": fileData
})
.then((response) => {
let token = response.data.token;
let userId = response.data.userId;
sessionStorage.setItem('token', token);
sessionStorage.setItem('userId', userId);
// Redirect to another page or perform other actions here
window.location.href = './home.html';
})
.catch((error) => {
if (error.response && error.response.data && error.response.data.message) {
    // Extract and display the error message from the response
    alert(error.response.data.message);
}else{alert('Image too large, please select an image that is <50kb')}
});
})
.catch((error) => {
// Handle file reading error
console.error(error);
});
} else {
// Handle the case where no file is selected
axios.post('https://leaptron2.dscloud.me:3000/api/signup', {
        "username": document.getElementById('exampleInputUsername1').value,
        "password": document.getElementById('exampleInputPassword1').value,
        "image": ''
        })
        .then(response => {
            let token= response.data.token;
            let userId= response.data.userId;
            sessionStorage.setItem('token', token);
            sessionStorage.setItem('userId', userId);
            
            const homePageUrl = `./home.html`;
            window.location.href = homePageUrl;
            })
}
}

function readAndUploadFile(file) {
return new Promise((resolve, reject) => {
const reader = new FileReader();

reader.onload = function (e) {
const fileData = e.target.result; // This contains the file data
console.log("File data:", fileData);
resolve(fileData);
};

reader.onerror = function (error) {
reject(error);
};

reader.readAsDataURL(file);
});
}
                        </script>
                        

                        

                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="ocean">

        <div class="wave"></div>
        <div class="wave"></div>
    </div>

 </div>

 <script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
    }
    function registerUser(event) {
event.preventDefault();
let password = document.getElementById('exampleInputPassword1').value;
let confirmPassword = document.getElementById('exampleInputPassword2').value;
if (password !== confirmPassword) {
alert("Passwords do not match.");
return;
}

var file = document.getElementById('formFile').files[0];

if (file) {
readAndUploadFile(file)
.then((fileData) => {
axios
.post('https://leaptron2.dscloud.me:3000/api/signup', {
"username": document.getElementById('exampleInputUsername1').value,
"password": document.getElementById('exampleInputPassword1').value,
"image": fileData
})
.then((response) => {
let token = response.data.token;
let userId = response.data.userId;
sessionStorage.setItem('token', token);
sessionStorage.setItem('userId', userId);
// Redirect to another page or perform other actions here
window.location.href = './home.html';
})
.catch((error) => {
if (error.response && error.response.data && error.response.data.message) {
    // Extract and display the error message from the response
    alert(error.response.data.message);
}
});
})
.catch((error) => {
// Handle file reading error
console.error(error);
});
} else {
// Handle the case where no file is selected
axios.post('https://leaptron2.dscloud.me:3000/api/signup', {
        "username": document.getElementById('exampleInputUsername1').value,
        "password": document.getElementById('exampleInputPassword1').value,
        "image": ''
        })
        .then(response => {
            let token= response.data.token;
            let userId= response.data.userId;
            sessionStorage.setItem('token', token);
            sessionStorage.setItem('userId', userId);
            
            const homePageUrl = `./home.html`;
            window.location.href = homePageUrl;
            })
}
}

function readAndUploadFile(file) {
return new Promise((resolve, reject) => {
const reader = new FileReader();

reader.onload = function (e) {
const fileData = e.target.result; // This contains the file data
console.log("File data:", fileData);
resolve(fileData);
};

reader.onerror = function (error) {
reject(error);
};

reader.readAsDataURL(file);
});
}
</script>
