<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="icon" href="./img/nomstersicon.png" type="image/x-icon">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="css/home.css">

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
</head>


<style>
  .add,
  .remove {
    /* margin-top: 5px; */
    margin-right: 5px;
    padding-top: 5px;
  }



  .img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }
</style>

<body>
  <script>
    const token = sessionStorage.getItem('token');
    const userId = sessionStorage.getItem('userId');

    if (!token || !userId) {
      // If 'token' or 'userId' doesn't exist, redirect to 'index.html'
      window.location.href = './index.html';
    } 
  </script>
  <div id="app">
    <app-nav :allrecipes="allrecipes" @search="searchRecipes"></app-nav>

    <div class="container col-8">

      <img id="frame" src="" class="img-fluid mx-auto" />

      <form @submit.prevent="submitRecipe">

        <!-- Text Fields -->
        <div class="mb-3">
          <label for="recipeName" class="form-label">Recipe Name</label>
          <textarea v-model="formData.title" class="form-control" id="recipeName" rows="1" required></textarea>
        </div>

        <div class="mb-2 text-center">
          <label for="formFile" class="form-label chooseprofilepic"
            style="color: black; text-align: start !important;">Choose Recipe Photo</label>
          <input type="file" class="form-control" id="formFile" @change="handleImageChange"
            placeholder="upload profile pic" required />
          <button @click="clearImage" class="btn btn-secondary mt-3 clear" type="button">Clear Image</button>
        </div>

        <div class="row 2">
          <div class="mb-3 col-6">
            <label for="recipeDirections" class="form-label">Recipe Directions</label>
            <div v-for="(step, index) in formData.direction" :key="index" id="formfield">
              <input v-model="formData.direction[index]" type="text" class="form-control" :id="'textbox' + index"
                :placeholder="'Step ' + (index + 1)" required />
            </div>
            <button class="add btn btn-secondary mr-3" @click="addRecipe" type="button">Add</button>
            <button class="remove btn btn-secondary mr-3" @click="removeRecipe" type="button">Remove</button>
          </div>

        </div>
        <div class="row 2">
          <div class="mb-3 col-6">
            <label for="recipeIngredients" class="form-label">Ingredients</label>
            <div v-for="(step, index) in formData.ingredient" :key="index" id="formfield">
              <input v-model="formData.ingredient[index]" type="text" class="form-control" :id="'textbox' + index"
                :placeholder="'Step ' + (index + 1)" required />
            </div>
            <button class="add btn btn-secondary mr-3" @click="addIngredient" type="button">Add</button>
            <button class="remove btn btn-secondary mr-3" @click="removeIngredient" type="button">Remove</button>
          </div>
        </div>

        <!-- Numeric Fields -->
        <div class="row">
          <div class="form-outline col-4">
            <label class="form-label" for="preparationTime">Preparation Time (mins)</label>
            <input v-model="formData.preparationTime" type="number" class="form-control" id="preparationTime"
              placeholder="120" required />
          </div>
          <div class="form-outline col-4">
            <label class="form-label" for="servings">Number of Servings</label>
            <input v-model="formData.servings" type="number" class="form-control" id="servings" placeholder="4"
              required />
          </div>
          <div class="form-outline col-4">
            <label class="form-label" for="pricePe  rServing">Price (per serving in $)</label>
            <input v-model="formData.pricePerServing" type="number" class="form-control" id="pricePerServing"
              placeholder="eg. $2" required />
          </div>
        </div>

        <!-- Checkboxes -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" v-model="formData.checkboxes.vegetarian">
          <label class="form-check-label" for="vegetarian">
            Vegetarian
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" v-model="formData.checkboxes.vegan">
          <label class="form-check-label" for="vegan">
            Vegan
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" v-model="formData.checkboxes.glutenFree">
          <label class="form-check-label" for="glutenFree">
            Gluten Free
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" v-model="formData.checkboxes.dairyFree">
          <label class="form-check-label" for="dairyFree">
            Dairy Free
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" v-model="formData.checkboxes.veryHealthy">
          <label class="form-check-label" for="veryHealthy">
            Healthy
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" v-model="formData.checkboxes.cheap">
          <label class="form-check-label" for="cheap">
            Cheap
          </label>
        </div>


        <div class="text-center">
          <button type="submit" class="btn btn-danger" style="font-weight:lighter">Submit Recipe</button>
        </div>
      </form>
    </div>
  </div>
  </div>




  <app-footer></app-footer>
  </div>

  <!-- script for add and remove buttons -->

  <script>


    function removeRecipe() {
      var input_tags = formfield.getElementsByTagName('input');
      if (input_tags.length > 1) {
        formfield.removeChild(input_tags[(input_tags.length) - 1]);
      }
    }


  </script>

  <!-- script for image preview -->



  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

  <script src="component/navbar.js"></script>
  <script src="component/listing.js"></script>
  <script src="component/footer.js"></script>

  <script>
    const app = Vue.createApp({
      components: {
        'app-footer': footer,
      },
      data() {
        return {
          allrecipes: [],

          formData: {
            title: '',
            image: null,
            preparationTime: '',
            servings: '',
            pricePerServing: '',
            direction: [''], // for recipe directions
            ingredient: [''], // for ingredients
            // Add other form fields here and initialize them
            checkboxes: {
              vegetarian: false,
              vegan: false,
              glutenFree: false,
              dairyFree: false,
              veryHealthy: false,
              cheap: false,
            },
          },


        };
      },
      mounted() {
        this.fetchAllRecipes();
      },
      methods: {
        searchRecipes(titleQuery) {
          window.location.href = `allRecipe.html?search=${titleQuery}`;
        },
        fetchAllRecipes() {
          const headers = {
            Authorization: `BEARER ${token}`
          }
          axios.get('https://leaptron2.dscloud.me:3000/api/recipe', {
            headers: headers
          }).then(response => {
            console.log(response.data)
            this.allrecipes = response.data
            console.log(this.allrecipes)
          }).catch(error => {
            console.log(error.response.data.message);
            this.errorMessage = error.response.data.message;
            this.allrecipes = [];
            this.isError = true;
          });
        },
        addRecipe() {
          // Add a new recipe step to the formData.direction array
          this.formData.direction.push('');
        },

        removeRecipe(index) {
          // Remove the recipe step at the specified index
          this.formData.direction.pop();
        },
        addIngredient() {
          this.formData.ingredient.push('');
        },
        removeIngredient(index) {
          // Remove the recipe step at the specified index
          this.formData.ingredient.pop();
        },
        submitRecipe() {

          function readAndUploadFile(file) {
            return new Promise((resolve, reject) => {
              const reader = new FileReader();

              reader.onload = function (e) {
                const fileData = e.target.result; // This contains the file data
                resolve(fileData);
              };

              reader.onerror = function (error) {
                reject(error);
              };

              reader.readAsDataURL(file);
            });
          }
          console.log(this.formData);
          var image = this.formData.image;
          readAndUploadFile(image)
            .then((fileData) => {
              var imageData = fileData
              console.log(imageData);
              var title = this.formData.title;
              var preparationTime = this.formData.preparationTime;
              var servings = this.formData.servings;
              var pricePerServing = this.formData.pricePerServing;
              var directions = this.formData.direction;
              var ingredients = this.formData.ingredient;
              var diets = []
              var vegetarian = this.formData.checkboxes.vegetarian;
              var vegan = this.formData.checkboxes.vegan;
              var glutenFree = this.formData.checkboxes.glutenFree;
              var dairyFree = this.formData.checkboxes.dairyFree;
              var veryHealthy = this.formData.checkboxes.veryHealthy;
              var cheap = this.formData.checkboxes.cheap;
              if(vegetarian==true){
                vegetarian=1;
              }
              else{
                vegetarian=0;
              }
              if(vegan==true){
                vegan=1;
              }
              else{
                vegan=0;
              }
              if(glutenFree==true){
                glutenFree=1;
              }
              else{
                glutenFree=0;
              }
              if(dairyFree==true){
                dairyFree=1;
              }
              else{
                dairyFree=0;
              }
              if(veryHealthy==true){
                veryHealthy=1;
              }
              else{
                veryHealthy=0;
              }
              if(cheap==true){
                cheap=1;
              }
              else{
                cheap=0;
              }
              var directionData = '';
              for (const value of Object.values(directions)) {
                directionData += value + '\n';
              }

              var ingredientData = '';
              for (const value of Object.values(ingredients)) {
                ingredientData += value + ';';
              }
              
          console.log(title)
          console.log(servings)
          console.log(ingredientData)
          console.log(directionData)
          console.log(imageData)
          const postData = {
            title: title,
            servings: servings,
            ingredients: ingredientData,
            instructions: directionData,
            image: imageData,
            pricePerServing: pricePerServing,
            readyInMinutes: preparationTime,
            vegetarian: vegetarian,
            vegan: vegan,
            glutenFree: glutenFree,
            dairyFree: dairyFree,
            veryHealthy: veryHealthy,
            cheap: cheap
          };
          const headers = {
            Authorization: `BEARER ${token}`
          }
          axios.post(`https://leaptron2.dscloud.me:3000/api/recipe/user/${userId}`, postData,{
            headers: headers
          
          })
            .then((response) => {
              window.location.href = `./profile.html`
            })
            .catch((error) => {
              alert('Error uploading recipe, please ensure file is an image  and is < 50kb')
            });
          })











        },
        handleImageChange(event) {


          const selectedImage = event.target.files[0];

          // Now, you can do something with the selectedImage, such as previewing it or storing it in your form data.
          // For example, you can set it in your formData.image property.
          this.formData.image = selectedImage;

          // Optionally, you can also preview the selected image.
          this.preview(selectedImage);
        }, preview(selectedImage) {
          // Implement your image preview logic here.
          // You can set the image source in your preview frame.
          frame.src = URL.createObjectURL(selectedImage);
        }, clearImage() {
          // Clear the selected image and reset the file input field.
          this.formData.image = null;
          document.getElementById('formFile').value = null;
          frame.src = '';
        }
      }, computed: {
        formDataWithCheckboxes() {
          const data = { ...this.formData };
          for (const option of this.options) {
            data[option.value] = false;
          }
          return data;
        },

      }
    });

    app.component('app-nav', {
      data() {
        return {
          showIsActive: false,
          random: [],
          profileImage:"img/icon/profile.png",
          active: "submit"
        }
      },
      props: {
        allrecipes: {
          type: Array,
          required: true
        },
        size: {
          type: Number,
          required: false,
          default: 12
        }
      },
      methods: {
        ...navbar.methods,
        showHideModal() {
          this.showIsActive = !this.showIsActive;

          this.generateRandomRecipe();
        },
        generateRandomRecipe() {
          if (this.allrecipes.length > 0) {
            const length = this.allrecipes.length;
            const r = this.allrecipes[Math.floor(Math.random() * length)];

            console.log(this.random);
            this.random = r;
          }
        },
        closeModal() {
          this.showIsActive = !this.showIsActive;
        },
      },
      template: navbar.template + `
            <div class="random-recipe" :class="{active: showIsActive}">
                <div class="overlay" @click="closeModal"></div>
                <div class="modal-box">
                    <h3>Random Recipe Generator</h3>
                    ${listing.single}
                    <div class="buttons">
                        <!-- <button class="btn close-btn" @click="showHideModal">Close</button> -->
                        <button class="btn decide-btn generate" @click="generateRandomRecipe">Regenerate</button>
                        <button class="btn decide-btn generate"><a :href="'recipeDetail.html?id=' + random.recipeId">Go to Recipe</a></button>
                    </div>
                </div>
            </div>
          `, mounted(){
            const headers = {
            Authorization: `BEARER ${token}`
          }
          axios.get(`https://leaptron2.dscloud.me:3000/api/user/${userId}`, {
            headers:headers,})
            .then(response => {
              console.log(response.data)
              var image = response.data.image.data
              if(image.length>0){
          var uint8Array = new Uint8Array(image);
          var binaryString = String.fromCharCode.apply(null, uint8Array);
          this.profileImage = binaryString
              } 
              })}
          
    });

    app.component('app-listing', listing);

    app.mount('#app');

    gsap.from("#countRecipe", {
      textContent: 0,
      duration: 4,
      ease: "power1.in",
      snap: { textContent: 1 }
    });

    const buttons = document.querySelectorAll(".topRecipe");

    buttons.forEach(function (button) {
      button.addEventListener("click", function () {
        buttons.forEach(function (btn) {
          btn.classList.remove("btn-danger");
          btn.classList.add("btn-outline-secondary");

          var rmv = document.getElementById(btn.getAttribute("data-value"));
          rmv.style.display = 'none';
        });

        var content = document.getElementById(event.target.getAttribute("data-value"));
        content.style.display = 'block';
      });
    });

  </script>
</body>

</html>