.add,
.remove {
    margin-right: 5px;
    padding-top: 5px;
}

#formfield,
#textbox,
#formfield2,
.edit-profile-wrapper {
    margin: 54px auto;
}

#textbox2 {
    margin-bottom: 5px;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.border-right {
    border-right: 1px solid #dee2e6 !important;
}