.carousel-inner > .carousel-item > img {
    height: 52vw;
}
  
.carousel-caption {
    /* bottom: 8.25rem !important;     */
    bottom: 9vw !important;
    left: 10% !important;
    text-align: left !important;
    left: 10% !important;
    text-align: left !important;
}

.carousel-caption h1 {
    font-size: 4.2vw;
    width: 74%;
    /* text-shadow: 2px 4px 4px rgba(0,0,0,0.2),
        0px -5px 10px rgba(255,255,255,0.15); */
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.carousel-control-next, .carousel-control-prev {
    width: 8% !important;
}

#section2 {
    /* display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center; */
    margin: 26px auto 0;
}

#section2 h3 {
    text-transform: none;
    /* width: 36%; */
}

/* .countWrapper {
    width: 12%;
} */

.countNum {
    font-family: "BigshotOne";
    font-size: 52px;
    line-height: 1.1em;
    text-wrap: nowrap;
}

.container-fluid {
    padding: 0;
}

#section2 h4 {
    text-wrap: nowrap;
}

#section3 {
    margin: 80px auto;
}

.section-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.section-head h3 {
    margin-right: 32px;
}

.section-view {
    position: relative;
    text-decoration: underline;
    font-family: "PlayfairDisplay";
    font-weight: bold;
    font-size: 18px;   
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.section-view.all:after {
    content: '\279E';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.section-view.all:hover  {
    color: #DE352A;
    padding-right: 28px;
}

.section-view.all:hover:after {
    opacity: 1;
    right: 0;
}

/* 
.section-view svg {
    margin-left: 8px;
}

.section-view:hover path  {
    fill: #DE352A;
} */

#section4 {
    margin: 0 auto 80px;
}


#section4 .button {
    border-radius: 8px;
    border: 1px solid #000;
    background-color: white;
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
}

#section4 .button:hover {
    background-color: #000;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

#section4 .button:hover p {
    color: white;
}


#section4 p {
    font-family: "PlayfairDisplay";
    font-weight: bold;
}

#section4 h3, #section5 h3 {
    text-align: center;
    position: relative;
}

#section4 h3::before {
    position: absolute;
    left: 0;
    top: 55%;
    transform: translate(0, -50%);
    content: '';
    width: 35%;
    height: 1px;
    background: #000000;
}

#section4 h3::after {
    position: absolute;
    right: 0;
    top: 55%;
    transform: translate(0, -50%);
    content: '';
    width: 35%;
    height: 1px;
    background: #000000;
}

.calorie-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 28px;
}

.container-cuisine-wrap {
    margin: 20px 0 28px;
}

.cuisine, .top-recipe {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    /* margin: 20px 14px; */
    text-align: center;
}

.top-recipe {
    margin: 20px 0;
}

.top-recipe .img {
    width: 230px;
    height: 230px;
    background-position: top center;
}

.top-recipe h5 {
    margin: 24px 0 12px !important;
    line-height: 1.4em;
}

.top-recipe p {
    color: #979797;
}

/* .cuisine:first-child, .top-recipe:first-child {
    margin-left: 0px;
    margin-right: 14px;
}

.cuisine:last-child, .top-recipe:last-child {
    margin-left: 14px;
    margin-right: 0px;
} */

.cuisine .img, .top-recipe .img, .calorie {
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 18px;
}

.cuisine .img {
    width: 160px;
    height: 160px;
}

.kor {
    background-image: url("../img/cuisine/kor.jpg");
}

.chi {
    background-image: url("../img/cuisine/chinese.jpg");
}

.indian {
    background-image: url("../img/cuisine/indian.jpg");
}

.viet {
    background-image: url("../img/cuisine/vietnamese.jpeg");
}

.jap {
    background-image: url("../img/cuisine/jap.jpg");
}

.italian {
    background-image: url("../img/cuisine/italian.jpg");
}

#section5 {
    margin: 80px auto 0;
}

.content-section5 a:hover h5, .content-section5 a:hover p {
    color: #d53328;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.content-section5 a:hover .img {
    transition: all 0.65s;
    transform: rotateY(360deg);
    outline: 3px solid #d53328;
}

#section5 h6, #section7 h6 {
    text-align: center;
    margin: 21px 0 0 !important;
    font-weight: normal;
    color: #727272;
    line-height: 1.6em;
}

#section7 h6 {
    margin: 21px 0 32px !important;
}

.btn {
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
}

.btn-danger {
    color: #fff;
    background-color: #DE352A;
    border-color: #DE352A; 
    font-weight: bold;
}

.btn-outline-secondary {
    color: #979797;
    background-color: #fff;
    border-color: #979797;
}

.btn-outline-secondary:hover, .btn-outline-secondary:active, :not(.btn-check)+.btn:active, .btn-outline-secondary:focus, .btn:focus-visible {
    color: #fff;
    background-color: #DE352A;
    border-color: #DE352A; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#section6 {
    margin: 80px auto 0;
}

#section7 {
    text-align: center;
    margin: 80px auto 100px;
}

.calorie {
    border-radius: 8px;
    padding: 24px 32px 26vw;
    margin: 20px 18px;
    position: relative;
    color: #fff;
    background-position: center;
    background-size: cover;
    min-width: 250px;
    min-height: 300px;
} 

/* .calorie:first-child {
    margin-left: 0px;
    margin-right: 18px;
}

.calorie:last-child {
    margin-left: 18px;
    margin-right: 0px;
} */

.calorie h3 {
    font-size: 26px;
}

.calorie .section-head {
    align-items: flex-end;
    z-index: 10;
    position: relative;
    width: 18vw;
    min-width: 200px;
}

.calorie:hover  {
    /* color: #DE352A; */
    text-shadow: 0px 0px 6px rgba(0,0,0,0.45);
    transform: scale(1.05);
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

/* .calorie:hover .section-head {
    visibility: hidden;
} */

/* .calorie:hover path  {
    fill: #DE352A;
} */

.calorie:hover .overlay {
    opacity: 0.1;
    transition: 1s ease;
}

.overlay {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: black;
    border-radius: 8px;
	opacity: .4; 
}

.starters {
    background-image: url("../img/starter.jpeg")
}

.mains {
    background-image: url("../img/mains.jpeg")
}

.soups {
    background-image: url("../img/soup.jpeg")
}

@media screen and (min-width: 992px) {
    #section2 h3 {
        max-width: 320px !important;
    }
}

@media screen and (max-width: 991px) {
    .carousel-caption h1 {
        font-size: 5vw;
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .countNum {
        font-size: 44px;
    }
}

@media screen and (max-width: 420px) {
    .countNum {
        font-size: 36px;
    }
}