.add, .remove {
    /* margin-top: 5px; */
    margin-right: 5px;
    padding-top: 5px;
}

#formfield, #textbox, #formfield2, #textbox2 {
    margin-bottom: 5px;
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.banner {
    height: 100px;
    text-align: center;
    /* margin-top: auto; */
    justify-content: center;
    align-items: center;
    margin: 54px auto 0;
}

.text-center {
    vertical-align: middle;
    height: 100px;
}

.consolidated {
    text-align:center;
}