.container {
    width: 75%;
    margin: 54px auto;
}

.add, .remove {
    /* margin-top: 5px; */
    margin-right: 5px;
    padding-top: 5px;
}

#formfield, #textbox, #formfield2, #textbox2 {
    margin-bottom: 5px;
}

.img-fluid {
    display: block;
    width: 25%;
}
